* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 0.7em;
	font-family: 'Lucida Grande', Helvetica, sans-serif;
	background: #121212;
	color: #000000;
	padding: 20px;
    background-image: url(../img/background.gif);
    background-repeat: repeat-x;
    background-size: cover;
}

tr {
	vertical-align: top;
}

/*
	STRUCTURE
*/
.post {
}

#character {
    position: fixed;
    width: 84px;
    height: 210px;
    left: 10px;
    top: 440px;
}


/*
	TYPOGRAPHY
*/
p {
    font-size: 1.2em;
    margin: 0 0 15px 0;
}

h1 {
    font-family: Helvetica, sans-serif;
    font-size: 4.0em;
    letter-spacing: -1px; color: black;
}

h2 {
    font-family: Helvetica, sans-serif;
    font-size: 3.0em;
    letter-spacing: -1px; color: black;
}

a {
    color: #0066cc;
}

a:hover {
    color: #ccc;
}
